<% provide(:title, 'Game Three ') %>

<style>

#chat-output {
  height: 450px;
  overflow-y: scroll;
}
</style>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Online Users</div>
        <div class="list-group" id="online-users"></div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Live Chat</div>
  <ul class="list-group" id="chat-output"></ul>
  <div class="panel-body">
    <form id="chat">
      <div class="input-group">
        <input type="text" class="form-control" id="chat-input" />
        <span class="input-group-btn">
          <button type="submit" class="btn btn-default">Send Message</button>
        </span>
      </div>
    </form>
  </div>
</div>


      </div>
    </div>
  </div>
<script type="text/javascript">
 
var $input = $('#chat-input'); 
var $output = $('#chat-output'); 
var channel = 'Game3';
var user = "<%= current_user.username%>";

var pubnub = PUBNUB.init({
	 publish_key: 'pub-c-39594782-c4b0-4fb3-80fe-74e262353bf6',
	 subscribe_key: 'sub-c-7ae61028-e9dd-11e3-92e7-02ee2ddab7fe',
	 uuid: user,
	 heartbeat: 10
});


$('#chat').submit(function() {
    
  
  pubnub.publish({
    channel: channel,
    message: {
      text: $input.val(),
      username: user
    }
    
  });
  $input.val('');
  return false;
});

$('#log-out').on("click", function(){
  console.log('clicked log-out');
  pubnub.unsubscribe({
    channel: channel
  });
  
});


pubnub.subscribe({
  channel: channel, 
  message: function(data) { 
  
    var $line = $('<li class="list-group-item"><strong>' + data.username + ':</strong> </span>');
    var $message = $('<span class="text" />').text(data.text).html();
    
    $line.append($message);
    $output.append($line);
    $output.scrollTop($output[0].scrollHeight);
  },
  
  presence: function(data) {
    console.log(data);
    
    if(data.action == "join")
    {
       var $new_user = $('<li id="' + data.uuid + '"class="list-group-item">' + data.uuid + '</li>')
       $('#online-users').append($new_user);
    }
    
    if(data.action == "leave" || data.action == "timeout") 
    {
        $('#' + data.uuid).remove();
    }
    
  }
});

</script>
 
