<% provide(:title, 'Game One') %>
<h1>Singleplayer</h1>

<style>
#canvas{crusor:crosshair !important;}
 

</style>
<body>
 
 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body oncontextmenu="return false;" onselectstart="return false;">



<br>



<canvas id='canvas' style="border:2px solid black;margin:18px; background-color:#FAFAFA "></canvas>
<br>
<%= link_to image_tag("Paint Palette-48.png", height: '48px', width: '48px', alt: "palette") %>
<input class="button" type="button" value="red" onClick="linecolor='red'">
<input type="button" value="yellow" onClick="linecolor='yellow'">
<input type="button" value="green" onClick="linecolor='green'">
<input type="button" value="blue" onClick="linecolor='blue'">
<input type="button" value="black" onClick="linecolor='black'">
<input type="button" value="purple" onClick="linecolor='purple'">
<br>
<%= link_to image_tag("Line Width-48.png", height: '40px', width: '40px', alt: "widths") %>
<input type="button" value="  5  " onClick="lineWidth='5'">
<input type="button" value="  10  " onClick="lineWidth='10'">
<input type="button" value="  15  " onClick="lineWidth='15'">
<input type="button" value="  20  " onClick="lineWidth='20'">
<input type="button" value="  30  "  onClick="lineWidth='30'">
<input type="button" value="  60  " onClick="lineWidth='60'">
<br>

  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;
<input type="button" value="eraser" onClick="linecolor='#FAFAFA';lineWidth='30'">
   &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;
<button id='clr'>clear</button>
 
 <br>
 <br>

<script>
var linecolor = "black";
var lineWidth = 20;
var canvas = document.getElementById('canvas');
canvas.addEventListener('mousedown', onMouseDown, false);
canvas.addEventListener('mousemove', onMouseMove, false);
canvas.addEventListener('mouseup', onMouseUp, false);
canvas.addEventListener('touchstart',onMouseDown,false);
canvas.addEventListener('touchmove',onMouseMove,false);
canvas.addEventListener('touchend',onMouseUp,false)
 
 
canvas.height = 600;
canvas.width = getWidth() - 580;
var ctx = canvas.getContext('2d');
var flag = false;
function onMouseMove(evt)
{
	evt.preventDefault();
	if (flag)
	{
		var po = pos(evt);	
		ctx.lineTo(po.x, po.y);
		ctx.strokeStyle= linecolor;
		ctx.lineWidth = lineWidth; 
		ctx.stroke();
	}
}
 
function onMouseDown(evt)
{
	evt.preventDefault();
	ctx.beginPath();
	var position = pos(evt);
	ctx.moveTo(position.x, position.y);
	flag = true;
}
 
 
function onMouseUp(evt)
{
	evt.preventDefault();
	flag = false;
}
 
 
var clear = document.getElementById('clr');
	clear.addEventListener('click',function()
{
	ctx.clearRect(0, 0, canvas.width, canvas.height);
},false);
 
 
function pos(event)
{
	var x,y;
	if(isTouch(event))
	{
		x = event.touches[0].pageX;
		y = event.touches[0].pageY;
	}
	else
	{
		x = event.layerX;
		y = event.layerY;
	}
	return {x:x,y:y};
}


 
function isTouch(event)
{
	var type = event.type;
	if(type.indexOf('touch')>=0)
	{
		return true;
	}
	else
	{
		return false;
	}
}
 
function getWidth()
{
	var xWidth = null;
	if (window.innerWidth !== null) 
	{
		xWidth = window.innerWidth;	
	}
	else 
	{
		xWidth = document.body.clientWidth;
	}
	return xWidth;
}
</script>
</body>