






<% provide(:title, 'Game Two') %>
<h1 align="center">Multiplayer</h1>
<style>
	#mainWrapper {
		margin:0 auto;
		width:800px;
	}
	#labels{
		text-align: center;
	}
	
</style>





<script src=http://cdn.pubnub.com/pubnub.min.js></script>

<script type="text/javascript" src=http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js></script>






<div id="labels">
	<section id="main">
		<section id="colorSwatch">
			<input type="radio" name="color" id="color01" data-color="black" checked><label for="color01">BLACK</label> 
			<input type="radio" name="color" id="color02" data-color="blue">		<label for="color02">BLUE</label>  
			<input type="radio" name="color" id="color03" data-color="red">	<label for="color03">RED</label>  
			<input type="radio" name="color" id="color04" data-color="white">	<label for="color04">ERASER</label>  
		</section>
		Currently Online: <span id="occupancy">0</span>
	</section>
</div>	
	
<div id="mainWrapper">
	<canvas id="drawCanvas" width="800px" height="500px" style="border:1px solid #CCC">DrawParty is not supported on this browser!</canvas>
</div>
	<script>
		(function() {

	var drawHistory = true;
	var canvas = document.getElementById('drawCanvas');
	var ctx = canvas.getContext('2d');
	var color = document.querySelector(':checked').getAttribute('data-color');

	canvas.width = 800;
	canvas.height = 500;

	 
	ctx.strokeStyle = color;
	ctx.lineWidth = '5';
	ctx.lineCap = ctx.lineJoin = 'round';
	
	document.getElementById('colorSwatch').addEventListener('click', function() {
		color = document.querySelector(':checked').getAttribute('data-color');
	}, false);
	
	var isTouchSupported = 'ontouchstart' in window;
	var isPointerSupported = navigator.pointerEnabled;
	var isMSPointerSupported =  navigator.msPointerEnabled;
	
	var downEvent = isTouchSupported ? 'touchstart' : (isPointerSupported ? 'pointerdown' : (isMSPointerSupported ? 'MSPointerDown' : 'mousedown'));
	var moveEvent = isTouchSupported ? 'touchmove' : (isPointerSupported ? 'pointermove' : (isMSPointerSupported ? 'MSPointerMove' : 'mousemove'));
	var upEvent = isTouchSupported ? 'touchend' : (isPointerSupported ? 'pointerup' : (isMSPointerSupported ? 'MSPointerUp' : 'mouseup'));
	 	  
	canvas.addEventListener(downEvent, startDraw, false);
	canvas.addEventListener(moveEvent, draw, false);
	canvas.addEventListener(upEvent, endDraw, false);

	var channel = 'draw2';

	var pubnub = PUBNUB.init({
		publish_key     : 'pub-c-c4d33e71-7da1-4133-9d09-a62c79570aa9',
		subscribe_key   : 'sub-c-fb6688c2-3e22-11e6-9236-02ee2ddab7fe',
		leave_on_unload : true,
		ssl		: document.location.protocol === "https:"
	});

	pubnub.subscribe({
		channel: channel,
		callback: drawFromStream,
		presence: function(m){

   			document.getElementById('occupancy').textContent = m.occupancy;
   			var p = document.getElementById('occupancy').parentNode;
   		}
	});

	function publish(data) {
		pubnub.publish({
			channel: channel,
			message: data
		});
     }


    function drawOnCanvas(color, plots) {
    	ctx.strokeStyle = color;
		ctx.beginPath();
		ctx.moveTo(plots[0].x, plots[0].y);

    	for(var i=1; i<plots.length; i++) {
	    	ctx.lineTo(plots[i].x, plots[i].y);
	    }
	    ctx.stroke();
    }

    function drawFromStream(message) {
		if(!message || message.plots.length < 1) return;
		drawOnCanvas(message.color, message.plots);
    }
    

    if(drawHistory) {
	    pubnub.history({
	    	channel  : channel,
	    	count    : 25,
	    	callback : function(messages) {
	    		pubnub.each( messages[0], drawFromStream );
	    	}
	    });
	}
    var isActive = false;
    var plots = [];

	function draw(e) {
		e.preventDefault(); 
	  	if(!isActive) return;

    	var x = isTouchSupported ? (e.targetTouches[0].pageX - canvas.offsetLeft) : (e.offsetX || e.layerX - canvas.offsetLeft);
    	var y = isTouchSupported ? (e.targetTouches[0].pageY - canvas.offsetTop) : (e.offsetY || e.layerY - canvas.offsetTop);

    	plots.push({x: (x << 0), y: (y << 0)}); 

    	drawOnCanvas(color, plots);
	}
	
	function startDraw(e) {
	  	e.preventDefault();
	  	isActive = true;
	}
	
	function endDraw(e) {
	  	e.preventDefault();
	  	isActive = false;
	  
	  	publish({
	  		color: color,
	  		plots: plots
	  	});

	  	plots = [];
	}
})();

		
	</script>
	
	
	
	<div id="userList" class="table-bordered userList" ></div>

	<button id="leaveButton" class="btn btn-danger leaveButton" onclick="leave()">Leave</button>gigit 

	<div id="chatHistory" class="table-bordered chatHistory"></div>

	<div><input type="text" id="message" placeholder="Enter your message here" class="message"/></div>

	<button id="sendButton" class="btn btn-primary sendButton">Send</button>


	<script type="text/javascript">
		(function() { 
			
			var publish_key = 'pub-c-6f03b392-2f4a-493c-ac40-248dbb32bd70';
			var subscribe_key = 'sub-c-c2e6ec8c-53c4-11e6-aba3-0619f8945a4f';
			
			var channel = 'Game2';
			var username = document.getElementById("usernameID").innerHTML;
			 pubnub =PUBNUB.init({
				
					publish_key : publish_key,
					subscribe_key : subscribe_key,
					uuid : username
			});
			
			pubnub.subscribe({
				channel : channel,
				callback : function(message) { 
					$('#chatHistory')[0].innerHTML = message + '<br/>' + $('#chatHistory')[0].innerHTML; 
				},
				presence : function(state) { 
					if (state.action == 'join') {
						if ($('#userList').text().indexOf(state.uuid) == -1) {
							$('#userList')[0].innerHTML = state.uuid + '<br/>' + $('#userList')[0].innerHTML;
						}
					} else if (state.action == 'leave' || state.action == 'timeout') { 
						var index = $('#userList')[0].innerHTML.indexOf(state.uuid);
						if ( index !== -1) {
							$('#userList')[0].innerHTML = 
								$('#userList')[0].innerHTML.substring(0,index) + 
								$('#userList')[0].innerHTML.substring(index+state.uuid.length+4);
						}
					}
					
				}
			});
			
			pubnub.bind('click', pubnub.$('sendButton'), function(e) { 
				pubnub.publish({
					channel : channel, 
					message : pubnub.get_uuid() + ' : '  + $('#message').val()
				});
				$('#message').val('');
			});
		})();
	</script>