<% provide(:title, 'List of Users') %>

<table class = "userIndex .table-hover">
    <tr>        
        <th>Name</th>
        <th>Rate</th>
    </tr>
    <tbody>
         <% @user.to_a.each do |user| %>
            <% if !user.guest %>
                <tr>
                    <td><%= user.username %></td>
                    <td>
                        <%= link_to image_tag("thumbsup.svg", alt: "Commend", size: "20x20" ), commend_path(user), method: :put %>
                        <%= link_to image_tag("thumbsdown.svg", alt: "Commend", size: "20x20" ), report_path(user), method: :put %>
                    </td>
                </tr>
            <% end %>
        <% end %>
    </tbody>
</table>