<!DOCTYPE html>
<% provide(:title, "About") %>
<html>
  <head>
    <title><%= yield(:title) %> | DrawParty</title>
  </head>
  <body>
    <h1>ABOUT</h1>
    <p>
      DrawParty is a fun drawing application created by Tyler Pham, Shakil Jamal, Huien Zhang, Yi Sun, and Benjamin Wiens for CMPT 276. 
    </p>
  </body>
</html>
