// Place all the styles related to the GameLobbies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
background-color:gray;
    
}

.container {
    margin-top: 10px;
    background-color: rgba(255,255,255, 0.6);
    width: 1700px;
    border-radius: 25px;
    padding: 25px;
    // border: 3px solid $dark-color;
    background:#FFF;
    
}
